@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 1.2fr 0.4fr;
      grid-template-columns: 0.3fr 1.2fr 0.4fr;
  -ms-grid-rows: 0.1fr 2fr 3fr 2fr;
      grid-template-rows: 0.1fr 2fr 3fr 2fr;
      grid-template-areas: "header header header" "description main main" "description engagement results" "description engagement results";
  height: 100vh;
  margin: 0;
}

.background {
  width: 80%;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: main;
  background-color: #006c5b;
}

main .main-container {
  display: block;
  display: block;
  background-color: white;
  margin: .5em;
  padding: .5em;
  border-radius: .4em .4em 0 0;
}

main h2 {
  font-size: 1rem;
  padding: 0 0 0 1rem;
}

main #noom_data {
  border-collapse: collapse;
  width: 90%;
  border: 2px solid;
  border-radius: 0.5em;
  border-collapse: collapse;
  overflow: hidden;
  background: #006C5B;
  margin: 0 1rem 1rem 1rem;
}

main #noom_data td {
  /*   border: 2px solid #f4f4f4; */
  text-align: center;
  font-size: .8rem;
  background: white;
  color: #ed9b33;
  font-weight: bold;
  padding: .5rem;
}

main #noom_data td p {
  font-size: 0.6rem;
  color: #686868;
}

main #noom_data th {
  background: #006C5B;
  /*   border-color: #f4f4f4; */
  width: 20rem;
  height: 2rem;
  /*   border: 2px solid #f4f4f4; */
  text-align: center;
  font-size: 0.8rem;
  padding: .5rem;
  color: #F8f5f2;
}

section.description {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: description;
  background-color: #006C5B;
}

section.description .dashboard-overview {
  display: block;
  background-color: white;
  margin: .5em;
  padding: .3em .5em 0 .5em;
  border-radius: .4em;
}

section.description .instructions {
  display: block;
  background-color: white;
  margin: .5em;
  padding: .5em;
  border-radius: .4em;
}

section.description h2 {
  font-size: 1rem;
  display: block;
  padding: 0 0 0 .5rem;
}

section.description span {
  font-size: 0.8rem;
  font-weight: bold;
  color: #006C5B;
}

section.description p {
  font-size: 0.7rem;
  padding: .3em .5em .2em .5em;
}

section.engagement {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: engagement;
  background: black;
  color: white;
}

section.engagement h2 {
  font-size: 1rem;
  padding: 0.5em;
}

section.ddpp {
  grid-area: footer;
  background: red;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background: #006C5B;
  color: #F8F5F2;
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .general-info {
  font-size: 0.6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  padding-top: 3em;
  padding-left: 4em;
}

header .general-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: .5rem .3rem 0 0;
}

header .general-info ul li {
  padding: 0 5rem 0 0;
  font-size: 1.2em;
}

header .general-info ul span {
  font-weight: bold;
  font-size: .7rem;
}

header h1 {
  font-size: 1.2rem;
  display: block;
  width: 16%;
  position: relative;
  padding: .5em .5em 0 .5em;
}

header #patient-name {
  font-size: 2rem;
  font-weight: bold;
}

.results {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: results;
  background: pink;
}

.results h2 {
  font-size: 1rem;
  padding: 0.5em;
}
/*# sourceMappingURL=main.css.map */