@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color:#006C5B;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.38fr 1.2fr 0.4fr;
    grid-template-rows: .05fr 2fr 3fr 2fr;
    grid-template-areas:
        "header header header"
        "description main main"
        "description engagement results"
        "description engagement results";
        // "footer footer candy";
    height: 100vh;
    margin: 0;
    grid-template-columns: minmax(auto, max-content);
}

.background {
    width: 80%
}





main {
    grid-area: main;
    background-color: #006c5b;

    .main-container {
        display: block;
        background-color: white;
        margin: 0em .5em 0em .5em;
        padding: em .1em .02em .1em;
        border-radius: .4em .4em .4em .4em;
        
    

    h2 {
        font-size: 1rem;
        color: #006C5B;
        padding: 0 0 0 1rem;
    }

    #noom_data {
        border-collapse: collapse;
        width: 97.5%;
        border: 3px solid;
        // verticle-align: top;
        border-radius: 0.5em;
        border-collapse: collapse;
        overflow: hidden;
        background: #006C5B;
        margin: 0 1rem 1rem 1rem;
      }
        


    #noom_data td {
        
        // height: 1em;
      /*   border: 2px solid #f4f4f4; */
        text-align: center;
        font-size: .9rem;
        background: white;
        color: #ed9b33; 
        font-weight: bold;
        padding-top: .5em;
        padding-bottom: 0em;
        border-radius: .4em white;

        p {
            font-size: 0.6rem;
            color: #686868;
        }
    }

    #avg_cal {
        padding: 0em 9em;
    }


    #noom_data th {
        background: #006C5B;
      /*   border-color: #f4f4f4; */
        width: 20em;
        height: 2rem;
      /*   border: 2px solid #f4f4f4; */
        text-align: center;
        font-size: 0.8rem;
        padding: .6em .5em;
        color: #F8f5f2;
      }

      #daily_cal {
        border-radius: .5em;  
      }
    
      #daily_cal th{
        height: .5em;
        font-size: .7rem;
        width: auto;
      }
    
      #daily_cal td {
        height: .5em;
        font-size: .7rem;
        padding: .5em;
        width: auto;
      }
}
}




section.description {
    grid-area: description; 
    background-color: #006C5B;
    width: 19.5vw;

    .dashboard-overview {
        display: block;
        background-color: #f8f5f2;
        margin: 0em .5em 0em .5em;
        padding: 0.2em .65em 0 .8em ;
        border-radius: .4em;
    }

    .instructions {
        display: block;
        background-color:#f8f5f2;
        margin: .5em;
        padding: .1em .3em 0.3em .8em;
        border-radius: .4em;
    }

    h2 {
        font-size: 1rem;
        color: #006C5B;
        display: block;
        padding: 0 0 0 0rem;
    }


    span {
        font-size: 0.8rem;
        font-weight: bold;
        color: #006C5B;
    }

    p {
        font-size: 0.635rem;
        color: #686868;
        font-weight: bold;
        padding: .3em .5em -1em .5em;
        line-height: 1.5em;
    }

    #note1 {
        color: #e91111;
        font-size: .6rem;
        padding: 0 0 1.5em 0;
    }

    #note2 {
        color: #e91111;
        font-size: .6rem;
    }
}



section.engagement {
    grid-area: engagement;
    background-color: #006c5b;

    .engagement-container {
        display: block;
        background-color: white;
        margin: .3em .5em 0em .5em;
        padding: 0em .5em .5em .5em;
        border-radius: .4em;
        border-color: none;
    

    h2 {
        color: #006c5b;
        font-size: 1rem;
        padding: .5em 0.5em 0 0.5em;
        margin-top: 0.2em;

        
    }

    p {
        font-size: .6rem;
        color: #686868;
        padding: 0;
    }

    h5 {
        font-size: .6rem;
        color: #686868;
        padding: 0;
        margin: 0;

        span {
            color: #006C5B;
            font-size: .7rem;
            padding: 1em 0.5em 0 0;
            margin-top: 0.2em;

        }
    }

    .physical-activity {
        display: block;
        background: #f8f5f2;
        margin: 0em .5em .4em .5em;
        padding: 1em;
        border-radius: .4em .4em .4em .4em;
        border-color: none;
        font-weight: bold;

        #phys {
            border-collapse: collapse;
            width: 100%;
            border: 0px solid #ddd;
            margin-bottom: 0;
            color: #686868;
            margin-top: .5em;
          }
          
          #phys th {
            width: 10em;
            height: .5em;
            border: px solid #ccc;
            text-align: top;
            font-size: .45rem;
          }
          
          #phys td {
            width: 10em;
            height: .5em;
            border: px solid #ccc;
            text-align: top;
          }
          
          
          #phys td {
            font-size: .5rem;
            text-align: center;
          } 

          #phys_score {
              display: none;
          }
        }
    }

    .digital-learning {
        display: block;
        background: #f8f5f2;
        margin: 0em .5em .4em .5em;
        padding: 1em;
        border-radius: .4em .4em .4em .4em;
        border-color: none;
        font-weight: bold;

        #learn {
            border-collapse: collapse;
            width: 100%;
            border: 0px solid #ddd;
            margin-bottom: 0;
            color: #686868;
            margin-top: .5em;
        }
          
        #learn th {
            width: 10em;
            height: .5em;
            border: px solid #ccc;
            text-align: top;
            font-size: .45rem;
        }
          
        #learn td {
            width: 10em;
            height: .5em;
            border: px solid #ccc;
            text-align: top;
        }
          
        #learn td {
            font-size: .5rem;
            text-align: center;
        } 

        #learn_score {
            display: none;

        }
    }

    .weigh-in {
        display: block;
        background: #f8f5f2;
        margin: 0em .5em .4em .5em;
        padding: 1em;
        border-radius: .4em .4em .4em .4em;
        border-color: none;
        font-weight: bold;

        #weigh {
            border-collapse: collapse;
            width: 100%;
            border: 0px solid #ddd;
            margin-bottom: 0;
            color: #686868;
            margin-top: .5em;
        }
          
        #weigh th {
            width: 10em;
            height: .5em;
            border: px solid #ccc;
            text-align: top;
            font-size: .45rem;
        }
          
        #weigh td {
            width: 10em;
            height: .5em;
            border: px solid #ccc;
            text-align: top;
        }
          
        #weigh td {
            font-size: .5rem;
            text-align: center;
        } 

        #weighin_score {
            text-align: center;
            display: none;
        }
    }

    .communication {
        display: block;
        background: #f8f5f2;
        margin: 0em .5em 0em .5em;
        padding: 1em;
        border-radius: .4em .4em .4em .4em;
        border-color: none;
        font-weight: bold;

        #comm {
            border-collapse: collapse;
            width: 100%;
            border: 0px solid #ddd;
            margin-bottom: 0;
            color: #686868;
            margin-top: .5em;
        }
          
        #comm th {
            width: 10em;
            height: .5em;
            border: px solid #ccc;
            text-align: top;
            font-size: .45rem;
        }
          
        #comm td {
            width: 10em;
            height: .5em;
            border: px solid #ccc;
            text-align: top;
        }
          
        #comm td {
            font-size: .5rem;
            text-align: center;
        } 

        #comm_score {
            text-align: center;
            display: none;
        }
    }
}

section.ddpp {
    grid-area: footer;
    background: red;
}

header {
    grid-area: header;
    background: #006C5B;
    color: #F8F5F2;
    // display: grid;
    // position: relative;
    

    .title {
        display: flex;
        // grid-template-columns: 150px auto; //150px for the title "Digital..." and the rest is auto
        // justify-content: unset;
    }

    .general-info{  //this part contains patient name and general info
        // display: flex;
        font-size: 0.6rem;
        justify-content: space-between;
        // position: absolute;
        height: auto; 
        // width: 100%;
        padding-top: 2em;
        padding-left: 5em;

        ul {
            display: flex;
            list-style-type: none;
            padding: .3rem .1rem 0 0;

            li {
                padding: 0 2rem 0 0;
                font-size: 1.2em;
            }

            span {
                font-weight: bold;
                font-size: .7rem;
            }
        }
    }

    h1 {
        font-size: 1.2rem;
        display: block;
        width: 16%;
        position: relative;
        padding: .5em .5em 0 .5em;
    }

    #patient-name {
        font-size: 2rem;
        // padding-left: .5em;
   
        font-weight: bold;
        // display: block;
        // position: absolute;
        // top: 1em;
        // left: 5em;
    }

    img {
        position: relative;
        margin-top: 1em;
        margin-left: 3em;
    }

    .guide {
        display: block;
        background-color:#E26751; //1E3932 green
        // border: solid 4px #f8f5f2;
        margin: 1em 2em 1em .3em;
        padding: 0em 1.5em 0em 1.5em;
        border-radius: .4em;
        width: 40%;
        height: 5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
        

        p {
            color: white;
            font-size: .8rem;
            
            line-height: 1.5em;
            position: flex;
            font-family: 'Varela Round', sans-serif;
           
        }
    }
}






.results {
    grid-area: results;
    background-color: #006c5b;

    .results-container {
        display: block;
        background-color: white;
        margin: .3em .5em 0em .5em;
        padding: 0em .3em .7em .5em;
        border-radius: .4em;
        border-color: none;

        .results-info {
            display: block;
            background: #f8f5f2;
            margin: 0em .5em 0em .5em;
            padding: 1em 1em .1em .5em;
            border-radius: .4em .4em .4em .4em;
            border-color: none;
            font-weight: bold;
        }

    
        h2 {
            color: #006C5B;
            font-size: 1rem;
            padding: 0.5em 0.3em 0 0.5em;
            margin-top: 0.2em;
        }


        #week_number {
            border-collapse: collapse;
            width: 54%;
            border: 2px solid;
            // verticle-align: top;
            border-radius: 0.5em;
            border-collapse: collapse;
            overflow: hidden;
            background: #006C5B;
            margin: 0 1em 1.1em 3.5em;
          }
          
          #week_number td {
            // width: 20rem;
            // height: 1rem;
          /*   border: 2px solid #f4f4f4; */
            text-align: center;
            font-size: 1rem;
            background: white;
            color: #ed9b33; 
            font-weight: bold;
            padding: .2em 0 .2em 0;
          }

          #week_number th {
            background: #006C5B;
          /*   border-color: #f4f4f4; */
            width: 20rem;
            height: 2rem;
          /*   border: 2px solid #f4f4f4; */
            text-align: center;
            font-size: 0.7rem;
            padding: 0rem;
            color: #F8f5f2;
          }

          #p_score {
            display: none;
          }

          #w_score {
              display: none;
          }

          #l_score {
              display: none;
          }

          #c_score {
              display: none;
          }


          ul {
            display: flex;
            list-style-type: none;
            // padding: .3em .3em 0 1.5em;
            color: #686868;
            font-size: .5rem;

            li {
                padding: 0.5em 0.5em 0.5em 0;
                font-size: 1.2em;
            }
        }
            

        p {
            font-size: 0.635rem;
            color: #686868;
            font-weight: bold;
            // padding: .5em .5em -1em .5em;
            line-height: 1.5em;
            padding: 0 .2em 0 .7em;
        }

        #high {
            font-weight: bold;
            font-size: .7rem;
            color: green;
            padding: 0em;
        }

        #low {
            font-weight: bold;
            font-size: .7rem;
            color: #ff0000;
            padding: 0em;

        }

        #engage_def {
            font-weight: bold;
            font-size: .7rem;
            color: #006C5B;
            padding: 0em;
        }

          #overall_engagement {
            border-collapse: collapse;
            width: 54%;
            border: 2px solid;
            // verticle-align: top;
            border-radius: 0.5em;
            border-collapse: collapse;
            overflow: hidden;
            margin: .7em 1em 1em 3.5em;
            background: #006C5B;
        
          }
          
          #overall_engagement td {
            text-align: center;
            font-size: 1rem;
            background: white;
            color: #ed9b33; 
            font-weight: bold;
            padding: .2em 0 .2em 0;

          }

          #overall_engagement th {
            background: #006C5B;
            width: 20rem;
            height: 2rem;
            text-align: center;
            font-size: 0.7rem;
            padding: 0rem;
            color: #F8f5f2;
        }

        
        #overall_score {
            display: none;
          }

    }
    
}


.hover {
    border: solid 3px #f8f5f2;
}


.element1 {
    border: solid 3px rgba(255, 255, 255, 0);
}


.hover2 {
    border: solid 3px #f8f5f2;
}


.hover3 {
    border: solid 3px #f8f5f2;
}



